[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paho-mqtt = "*"
pigpio = "*"
homeassistant = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[dev-packages]
black = "*"
pylint = "*"
